venv
env/
__pycache__/

dataset/

test_model.py
test_converter.py
test_vocab.py
test_fusion.py
test_clip.py
test_graph.py
test_main.py
test_inference.py

relation/resources/*
!relation/resources/final_vocab.json

artifacts/*
!artifacts/README.md

checkpoints/
processed_data/

*.egg-info/